@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

.landing-page {
  position: relative;
  background-color: #FFF;
}

.landing-page .header-area {
  display: flex;
  padding: 15px 0 0;
  position: relative;
}

.landing-page .header-area .logo {
  margin-top: 10px;
  font-size: 22px;
  width: 300px;
  color: #5d5d5d;
}

.landing-page .header-area .links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  text-transform: lowercase;
}

.landing-page .header-area .links li:last-child {
  border: 0;
  border-radius: 20px;
  padding: 10px 18px;
  color: #FFF;
  background-color: #3FFF52;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.pop-account {
  display: none;
  position: absolute;
  top: 3.2rem;
  right: 0.2rem;
}
.pop-account ul {
  list-style: none;
  text-align: right;
}
.pop-account li {
  margin-top: 6px;
  cursor: pointer;
  transition: all 0.1s ease-out;
}
li:hover {
  font-weight: 700;
}
.landing-page .info {
  width: 45%;
  float: left;
  margin-top: 160px;
}

.landing-page .info h1 {
  font-size: 44px;
  margin: 0 0 20px;
  color: #5d5d5d;
}

.landing-page .info p {
  width: 70%;
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #3FFF52;
}

.landing-page .image {
  width: 50%;
  float: right;
  margin-top: 35px;
}
.landing-page .image svg {
  margin-left: 45px;
  max-width: 80%;
}

.clearfix {
  clear: both;
}

/*typing effect*/
h1 span.typed-text {
  color: #3FFF52;
}
h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
