<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link
      href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css"
      rel="stylesheet"
    />
    
    <title>Calendar | eBundle</title>
  </head>
  <body>
    <div id="calendar"></div>
  
   <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
    <script src="/calendar/calendar.js"></script>
  </body>
</html>
