<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SignIn | eBundle</title>
    <link rel="stylesheet" href="/login/loginStyle.css">
  </head>
  <body>
    <section class="section">
      <form id="signinForm">
        <input type="email" placeholder="Email" name="email" id="email" />
        <input
          type="password"
          placeholder="Password"
          name="password"
          id="password"
        />
        <button id="signin">
          Sign In
        </button>
      </form>
      <button id="signout">
        SignOut
      </button>
    </section>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
    <script src="/login/script.js" defer></script>
    <script src="/login/auth.js" defer></script>
  </body>
</html>
