<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>attendance|eBUndle</title>
    <link rel="stylesheet" href="/attendance/markAttendance.css" />
  </head>
  <body>
    <center>
      <div class="heading div">
        mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total
        Class&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;class
        Attended
      </div>
      <div class="dview" id="dview"></div>
      
      <button id="submit">submit</button>
    </center>

    <script src="/attendance/markAttendance.js"></script>
  </body>
</html>
