<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home | eBundle</title>
  </head>
  <body>
    <section>
      <form id="signinForm1" action="/signup" method="POST">
        <label class="label">email</label>
        <input type="email" placeholder="Email" name="email" id="email" />
         <label class="label">name</label>
        <input type="text" placeholder="name" name="name" id="name" />
        <label class="label">password</label>
        <input
          type="password"
          placeholder="password"
          name="password"
          id="password"
        />
         <label>Role</label>
          <select id="role" name="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select> 
        <button id="signup">
          Create
        </button>
      </form>
      <button id="signout">
        SignOut
      </button>
    </section>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<!--     <script src="/index/script.js" defer></script>
    <script src="/index/auth.js" defer></script> -->
  </body>
</html>
