h3 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;

  width: 96%;
  text-align: left;
}
.bigger-font {
  font-size: 17px;
}
.class-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 87vh;
}
.class-posts {
  background: #F3F3F3;
  flex: 3;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tab {
  background: #F3F3F3;
  width: 80%;
  min-height: 100px;
  border-radius: 10px;
  margin-top: 20px;
}

.post {
  background: #FFFFFF;
  width: 90%;
  min-height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.13);
}
.post-header {
  margin-top:10px;
  display: flex;
  flex-direction: row;

  width: 95%;
  height: 30px;
  justify-content: space-between;
}
.post-content {
  width: 95%;

  text-align: left;
}
.progile-avatar {
  grid-area: image;
}
.progile-name {
  grid-area: name;
}
.progile-date {
  grid-area: date;
}
.profile {
  display: grid;
  grid-template-areas:
    'image name name '
    'image date date ';
  grid-gap: 10px;
}
.profile-avatar {
  width: 30px;
  height: 30px;

  background: #F3F3F3;
  border-radius: 15px;
}
