@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
:root {
  --text-black: #1a1a1a;
  --text-lightgrey: #949494;
}
body {
  background: #dfffdf;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
  padding-left: 240px;
}
main {
  position: relative;
  background-color: white;
  min-height: 103.2vh;
  margin-top: -20px;
  color: var(--text-black);
}
main .helper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  padding: 1.2em 2em;
  text-align: center;
  border-radius: 20px;
  font-size: 2em;
  font-weight: bold;
}
main .helper span {
  color: rgba(0, 0, 0, 0.2);
  font-size: 0.4em;
  display: block;
}
.menu {
  background-color: #F3F3F3;
  color: var(--text-black);
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  opacity: 0;
  background-color: #F3F3F3;

  height: 150px;

  padding: 2em 0.5em;
  text-align: center;

  transition: all 0.5s ease-out;
}
.menu .avatar img {
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #dfffdf;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  margin-top: 5px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 0;
}
.menu .avatar p {
  margin-top: 0px;
  opacity: 0.8;
  font-size: 0.8rem;
}
.menu ul {
  color: var(--text-lightgrey);
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;

  width: 100px;
  margin-left: 40px;
}
.menu ul li:last-child {
  position: absolute;
  bottom: 5vh;
  width: 100px;
}
.menu ul li svg {
  position: absolute;
  margin-left: -25px;
}
.menu ul li:hover {
  background-color: #fffe;
}
.menu ul li:focus {
  outline: none;
}
.menu .current-active {
  background-color: white;
  color: var(--text-black);
}

hr {
  height: 2px;
  background-color: #949494;
  opacity: 0.4;
  border: none;
}

/*class section*/

section .content-header {
  height: 80px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: center;
}
.content-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 25px;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .menu {
    width: 90px;
  }
  .menu .avatar {
    padding: 0.5em;
    width: 60px;
    height: 60px;
    position: relative;
    background-color: #eeee;
  }
  .menu .avatar img {
    width: 60px;
    height: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar p {
    text-transform: capitalize;
  }
  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    margin-left: 10px;
    position: relative;
  }
  .menu ul li svg {
    margin-top: 20px;
  }
  .menu ul li:hover {
    background-color: #F3F3F3;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}

@media screen and (max-width: 400px) {
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #5bc995;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1em;
    margin-left: 40px;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}
